In [2]:
import pandas as pd

In [4]:
arq_portabilidade = "C:\\Users\\Cliente\\OneDrive\\Documentos\\ic_telecom\\anatel\\portabilidade\\CSV_PORTABILIDADE.csv"
arq_saldo = "C:\\Users\\Cliente\\OneDrive\\Documentos\\ic_telecom\\anatel\\portabilidade\\CSV_SALDO.csv"

In [10]:
# transformando em dataframes do pandas

df_portabilidade = pd.read_csv(arq_portabilidade, sep=';')
df_saldo = pd.read_csv(arq_saldo, sep=';')

In [12]:
# visucalizacao dos dados
df_portabilidade.head()

,NU_CNPJ_DOADORA,NO_PRESTADORA_DOADORA,NU_CNPJ_RECEPTORA,NO_PRESTADORA_RECEPTORA,AA_EFETIVACAO,MM_EFETIVACAO,AM_EFETIVACAO,DT_EFETIVACAO,NU_SERVICO,SG_SERVICO,CO_CN,SG_UF,QT_PORTABILIDADE_EFETIVADA
0,76535764000143,OI S.A.,2558157000162,TELEFONICA BRASIL,2008,9,2008-09,01/09/2008,171,STFC,43,PR,365
1,76535764000143,OI S.A.,2558157000162,TELEFONICA BRASIL,2008,9,2008-09,01/09/2008,171,STFC,62,GO,1019
2,76535764000143,OI S.A.,2558157000162,TELEFONICA BRASIL,2008,9,2008-09,01/09/2008,171,STFC,67,MS,564
3,76535764000143,OI S.A.,2558157000162,TELEFONICA BRASIL,2008,12,2008-12,01/12/2008,171,STFC,43,PR,391
4,76535764000143,OI S.A.,2558157000162,TELEFONICA BRASIL,2008,12,2008-12,01/12/2008,171,STFC,44,PR,1478

In [ ]:
# exclusao dos dados desnecessarios
df_portabilidade = df_portabilidade.drop()

In [11]:
# visualizacao dos dados
df_saldo.head()

,NU_CNPJ,NO_PRESTADORA,ID_DT_EFETIVACAO,DT_EFETIVACAO,AA_FORMATADA,MM_FORMATADA,AM_FORMATADA,NU_SERVICO,SG_SERVICO,CO_CN,SG_UF,NO_UF,QT_PORTABILIDADE_DOADO,QT_PORTABILIDADE_RECEBIDO,QT_SALDO
0,40432544000147,CLARO S.A.,20230401,01/04/2023,2023,4,2023-04,10,SMP,67,MS,Mato Grosso do Sul,1566,2356,790
1,2421421000111,TIM S A,20150601,01/06/2015,2015,6,2015-06,10,SMP,77,BA,Bahia,23,6,-17
2,76535764000143,OI S.A. - EM RECUPERACAO JUDICIAL,20110201,01/02/2011,2011,2,2011-02,10,SMP,68,AC,Acre,67,79,12
3,1371416000189,SERCOMTEL S/A TELECOMUNICACOES,20111201,01/12/2011,2011,12,2011-12,10,SMP,43,PR,Paran치,221,58,-163
4,11208525000133,LIGUE TELECOM SERVICOS LTDA,20141001,01/10/2014,2014,10,2014-10,171,STFC,44,PR,Paran치,32,36,4